* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(143, 77, 156);
}

.card {
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 390px;
    border: 0px solid red;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #d48ae6;
}

h2 {
    margin: 0px auto;
    margin-top: 35px;
    color: #340536;
    font-weight: 800;
    font-size: x-large;
}

p {
    display: block;
    margin: 0px auto;
    margin-top: 18px;
    color: rgb(38, 10, 52);
}

button {
    width: 490px;
    height: 45px;
    /* margin-top: 28px; */
    border-radius: 8px;
    border: none;
    background-color: rgb(43, 17, 63);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    
}


button:hover{
    background-color: blueviolet;
}

button:active {
    background-color: rgb(155, 88, 217);
}

h4 {
    width: 490px;

    margin: 0px auto;
    margin-top: 18px;
    
}

input {
    width: 490px;
    height: 45px;
    margin: 0px auto;
    margin-top: 4px;
    border-radius: 8px;
    border: 1px solid rgb(203, 30, 222);
    background-color: rgb(235, 231, 235);
}

input::placeholder {
    padding-left: 12px;
    font-size: 14px;
}

div>a {
    width: 490px;
    height: 45px;
    margin: 0px auto;
    margin-top: 28px;
}

a {
    color: rgb(198, 20, 52);
}


/* card 2 styles  */


.card-2 {
    display: flex;
    flex-direction: column;

}

h1 {
    margin: 18px auto;
    font-weight: 800;
    
}

#add-btn {
    margin: 18px auto;
    transition: transform 0.1s ease-in-out;
}

#add-btn:hover {
    transform: scale(1.012);
}

#add-btn:active {
    transform: scale(1.0);
}



.todo-div {
    width: 490px;
    height: 45px;
    background-color: rgb(235, 231, 235);
    margin: 0px auto;
    margin-bottom: 18px;
    border: 1px solid rgb(202, 97, 185);
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    color: rgb(173, 76, 167);
    font-weight: 600;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;
  

}

.todo-div:hover {
    transform: scale(1.012);
    
}

.todo-div:active {
    transform: scale(1.0);
}

#input-todo::placeholder {
    font-size: 15px;
}

