* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(143, 77, 156);
}

.card {
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 380px;
    border: 0px solid red;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #d48ae6;
}

h2 {
    margin: 0px auto;
    margin-top: 35px;
    color: #270328;
}

p {
    display: block;
    margin: 0px auto;
    margin-top: 18px;
}

button {
    width: 490px;
    height: 40px;
    margin: 0px auto;
    margin-top: 18px;
    border-radius: 8px;
    border: none;
    background-color: rgb(27, 10, 40);
    color: white;
    font-weight: 600;
    font-size: 16px;
}


button:hover{
    background-color: blueviolet;
}

button:active {
    background-color: rgb(155, 88, 217);
}

h4 {
    width: 490px;

    margin: 0px auto;
    margin-top: 18px;
    
}

input {
    width: 490px;
    height: 40px;
    margin: 0px auto;
    margin-top: 4px;
    border-radius: 8px;
    border: 1px solid rgb(30, 123, 222);
    background-color: rgb(235, 231, 235);
}

input::placeholder {
    padding-left: 12px;
    font-size: 14px;
}

span {
    color: rgb(226, 29, 62);
}